In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-06 16:04:52,-23.1203,-134.9692,78.06,71,41,14.50
1,1,Tautira,PF,2022-04-06 16:04:53,-17.7333,-149.1500,82.29,68,96,22.10
2,2,Ushuaia,AR,2022-04-06 16:04:53,-54.8000,-68.3000,46.02,61,28,3.74
3,3,Santiago Del Estero,AR,2022-04-06 16:04:53,-27.7951,-64.2615,82.00,59,31,11.30
4,4,Faanui,PF,2022-04-06 16:04:54,-16.4833,-151.7500,82.09,77,41,20.80

In [3]:
cd2_df=city_data_df.loc[(city_data_df["Max Temp"] < 0)]
#city_data_df.loc[(city_data_df["Lat"] >= 0)]
cd2_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
25,25,Provideniya,RU,2022-04-06 16:04:59,64.3833,-173.3000,-2.18,96,100,8.28
44,44,Sangar,RU,2022-04-06 16:05:05,63.9242,127.4739,-7.49,100,100,3.33
47,47,Tilichiki,RU,2022-04-06 16:01:57,60.4667,166.1000,-2.94,80,0,8.32
64,64,Pevek,RU,2022-04-06 16:06:11,69.7008,170.3133,-22.27,100,100,4.09
76,76,Saskylakh,RU,2022-04-06 16:06:15,71.9167,114.0833,-17.14,100,35,5.84
97,97,Barrow,US,2022-04-06 16:07:23,71.2906,-156.7887,-23.78,76,0,10.36
133,133,Belaya Gora,RU,2022-04-06 16:07:35,68.5333,146.4167,-20.83,100,52,2.71
177,177,Deputatskiy,RU,2022-04-06 16:08:49,69.3000,139.9000,-20.56,100,92,1.25
180,180,Nyurba,RU,2022-04-06 16:08:50,63.2842,118.3319,-8.45,100,14,3.33
233,233,Anadyr,RU,2022-04-06 16:11:09,64.7500,177.4833,-23.93,99,15,4.09
238,238,Leningradskiy,RU,2022-04-06 16:11:11,69.3833,178.4167,-6.36,95,100,20.18
266,266,Chokurdakh,RU,2022-04-06 16:11:21,70.6333,147.9167,-24.43,100,29,3.62
293,293,Srednekolymsk,RU,2022-04-06 16:12:30,67.4500,153.6833,-20.87,100,50,3.20
301,301,Bilibino,RU,2022-04-06 16:12:33,68.0546,166.4372,-17.59,100,86,3.49
306,306,Udachnyy,RU,2022-04-06 16:12:34,66.4167,112.4000,-7.92,100,48,5.55
328,328,Tiksi,RU,2022-04-06 16:13:42,71.6872,128.8694,-18.04,100,93,2.04
373,373,Chara,RU,2022-04-06 16:14:55,56.9064,118.2631,-0.11,73,89,2.57
410,410,Zyryanka,RU,2022-04-06 16:12:19,65.7500,150.8500,-20.04,100,58,3.02
415,415,Talaya,RU,2022-04-06 16:12:19,61.3833,152.7500,-5.44,100,100,1.21
417,417,Lavrentiya,RU,2022-04-06 16:16:09,65.5833,-171.0000,-15.99,96,61,7.85
455,455,Zhigansk,RU,2022-04-06 16:16:21,66.7697,123.3711,-11.31,100,20,7.72
467,467,Aykhal,RU,2022-04-06 16:17:25,66.0000,111.5000,-0.31,100,100,7.25
521,521,Omsukchan,RU,2022-04-06 16:18:42,62.5333,155.8000,-10.48,100,100,3.11

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-06 16:04:52,-23.1203,-134.9692,78.06,71,41,14.50
1,1,Tautira,PF,2022-04-06 16:04:53,-17.7333,-149.1500,82.29,68,96,22.10
3,3,Santiago Del Estero,AR,2022-04-06 16:04:53,-27.7951,-64.2615,82.00,59,31,11.30
4,4,Faanui,PF,2022-04-06 16:04:54,-16.4833,-151.7500,82.09,77,41,20.80
6,6,Puerto Ayora,EC,2022-04-06 16:04:54,-0.7393,-90.3518,84.16,78,57,8.59
7,7,Remedios,CU,2022-04-06 16:04:55,22.4947,-79.5458,88.72,56,0,8.05
10,10,Dingle,PH,2022-04-06 16:04:54,10.9995,122.6711,75.45,91,100,5.53
11,11,Kisangani,CD,2022-04-06 16:00:24,0.5167,25.2000,77.47,80,100,2.71
15,15,Biak,ID,2022-04-06 16:04:57,-0.9131,122.8766,76.01,83,100,0.94
19,19,Georgetown,MY,2022-04-06 16:04:52,5.4112,100.3354,80.53,89,40,0.00

In [22]:
preferred_cities_df.count()

City_ID       184
City          184
Country       184
Date          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
dtype: int64

In [23]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
0               Rikitea      PF     78.06 -23.1203 -134.9692
1               Tautira      PF     82.29 -17.7333 -149.1500
3   Santiago Del Estero      AR     82.00 -27.7951  -64.2615
4                Faanui      PF     82.09 -16.4833 -151.7500
6          Puerto Ayora      EC     84.16  -0.7393  -90.3518
7              Remedios      CU     88.72  22.4947  -79.5458
10               Dingle      PH     75.45  10.9995  122.6711
11            Kisangani      CD     77.47   0.5167   25.2000
15                 Biak      ID     76.01  -0.9131  122.8766
19           Georgetown      MY     80.53   5.4112  100.3354

In [24]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [29]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,78.06,-23.1203,-134.9692,People ThankYou
1,Tautira,PF,82.29,-17.7333,-149.1500,Pension Oaoa
3,Santiago Del Estero,AR,82.00,-27.7951,-64.2615,Apartamentos Castelli 90
4,Faanui,PF,82.09,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
6,Puerto Ayora,EC,84.16,-0.7393,-90.3518,Finch Bay Galapagos Hotel

In [31]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))